.mc-layout {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--background-1);

    & .mc-layout-content {
        flex: 1;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}