.heroes {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1rem;

    & .heroes-content {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        & .heroes-list {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
        }
    }
}

.segmented-hero-sex {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}