.layout {
    background: var(--background-1);
    height: 100%;
    display: flex;
    flex-direction: column;

    & .layout-header {
        height: 4rem;
        border-radius: 0px 0px 1rem 1rem;
        background: var(--background-2);
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        z-index: 10000;

        & .layout-title {
            flex: 1;
            text-align: center;
        }

        & .layout-team-toggle {
            cursor: pointer;
            width: 5rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    & .layout-content {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding: 1rem;
        overflow: auto;
    }
}